.sign-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27rem;
  height: 33rem;
  padding: 1rem;
  position: relative;
  overflow: scroll;
}

.the-errors {
  color: red;
}

.sign-label {
  display: flex;
  flex-direction: column;
  margin-top: 0.4rem;
  color: rgb(52, 50, 50);
  position: relative;
  align-items: flex-start;
  margin-right: 4rem;
}

#modal-content {
  border-radius: 25px;
}

.continue-btn {
  margin-top: 1rem;
  border-radius: 20px;
  background-color: rgb(207, 22, 22);
  color: white;
  width: 11rem;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 1rem;
  border: none;
}

.continue-btn.inactive {
  background-color: rgb(240, 239, 239);
  color: gray;
  border: 1px solid darkgray;
  cursor: auto;
}

.continue-btn:hover {
  filter: brightness(90%);
}

.welcome-sign {
  font-size: 30px;
  margin-bottom: 0.5rem;
  margin-top: 10px;
  /* position: absolute; */
  z-index: 100;
  color: #111;
  opacity: 1;
}

.new-ideas {
  margin-bottom: 0.4rem;
  color: rgb(52, 50, 50);
}

.sign-input {
  border: lightgray 2px solid;
  border-radius: 10px;
  width: 13rem;
  height: 2rem;
}

.sign-input:focus {
  outline: 2px solid lightskyblue;
}

.sign-input:hover {
  border-color: darkgray;
}

.sign-err {
  color: red;
}

.pwicon {
  position: absolute;
  top: 65%;
  left: 11rem;
  transform: translateY(-50%);
  cursor: pointer;
}
